* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.service-icon,
.portfolio {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.service-icon:hover .icn {
  background-color: blue;
  color: white;
}

.service-icon {
  transition: all 0.3s ease-in-out;
}

.service-icon:hover,.portfolio:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(-5px);
}

.service-icon i {
  font-size: 40px !important;
}

.icn {
  height: 80px;
  width: 80px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid rgb(55, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Promo page */

.position-absolute i {
  font-size: 48px;
  color: white;
  cursor: pointer;
}

.position-absolute {
  background-color: #155bd5;
  padding: 10px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-absolute:hover {
  background-color: white;
}

.position-absolute:hover i {
  color: #155bd5 !important;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-dark .navbar-toggler {
    display: none;
  }

  .vision-mision {
    margin-top: 40px;
  }
}
